body{
    color: #2A4782;
}
ul {
    list-style: none;
    padding:0;
    margin:0;
}

.green-li { 
    padding-left: 1em; 
    text-indent: -.7em;
    line-height: 30px;
}

.green-li:before {
    content: "• ";
    color: #56bc94; /* or whatever color you prefer */
}
#gather{ /*Inline #submit anchor*/
    position: absolute;
    margin-top: -44px;
}
#submit{ /*Inline #submit anchor*/
    position: absolute;
    margin-top: -141px;
}
#update{ /*Inline #update anchor*/
    position: absolute;
    margin-top: -111px;
}

.featured-image{
    margin: 88px auto auto auto;
    position: absolute;
    right: 15px;
}
    .featured-image img{
        width: 444px;
    }
    
    .float-left{
        float:left;
    }
    .float-right{
        float:right;
    }

.contact-details li.email{
    padding: 0 0 0 116px !important;
}
    .contact-details li.phone{
        padding: 0 100px 0 0 !important;
    }
    .contact .intro li a, .contact .intro li{
        color: #2A4782;
    }


.survey-pic{
    border-bottom: 2px solid #D0D0D0;
}
.poll-box{
    margin: 33px auto auto;
}

.faq{
    padding: 70px 0 154px;
}
.pricing{
    padding: 80px 0 144px;
}

.how-title{
    margin: 39px auto 33px;
    font-weight: bold;
}
    .how{
        padding: 188px 0 40px
    }
    
    .bragbus-card{
        padding: 77px 29px;
        background: #FFFFFC;
        margin-bottom: 99px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border-bottom: 3px solid #c4e7d9;
    }
        .bragbus-card.card3:first-child{
            padding: 77px 0;
        }
        .bragbus-card.card3:last-child{
            padding: 29px;
        }

.title2{
    font-size: 25px !important;
    padding: 0 0 21px 58px;
    text-shadow: none !important;
    font-weight: bold;
}   
    .update-content{
        margin: 49px 0 0 0;
        font-size: 19px;
    }
    .delayp1{
        font-weight: bold;
        font-size: 28px;
        margin-top: 57px;        
    }
    .promo .overview .summary li{
        font-weight: 400;
    }
    
.header h1.logo a{
    font-family: 'Passion One', cursive;
}
.header h1.logo a, .header .main-nav .nav .nav-item a, .features .icon .fa, a, a:focus{
    color: #254BBB;
}

.footer .container{
    width: 437px;
    margin: auto;
}
    .footer-logo{
        height: 27px;
        margin: 0 13px;
    }
    .text-betabulls-logo{
        font-weight:bold;
        color:#A0A0A0;
    }
        .red{
            color:#FF282B;
        }
        .white{
            color: white;
        }

.shadow{
        box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.32);
}
    .ghost{
        opacity: 0.4;
        color: #CACACA;
    }

#gather .content{
    font-size: 17px;
}
.bragbus-webpage-img{
    text-align:center;
}
.social-posts{
    display: block;
    margin: auto;
    max-width: none;
}
    .social-logos{
        right: 0;
    }
    .social-posts-box{
        left: 0;
    }


/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    .title2{
        padding: 0 41px;
    }
    .survey-pic-box{
        margin: 33px auto -72px;
    }
    .social-posts-box{
        padding: 0 60px !important;
    }
        .social-posts{
            margin: auto auto 33px !important;
        }
        .bragbus-webpage-img{
            margin: 33px auto auto;
        }
    .card1 img, .card2 img{
        margin: 0 0 77px 0;
    }
    .contact-details li.email{
        padding: 0 0 0 61px !important;
    }
}